<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click='cancel()'>×</button>
    <h4 class="modal-title" ng-bind='user.nickname'></h4>
</div>
<div class="modal-body">
    <ul class="list">
		<li class="message {{message.class}}" ng-repeat='message in list'>
			<img class='avatar' ng-src="http://img.u77.com/avatar/{{message.sender == self._id ? self.avatar : user.avatar}}!avatar">
			<div class="content">
				<span class='name'>{{message.sender == self._id ? self.nickname : user.nickname}}</span>
						<span class='time'>{{message.date}}</span>
				<div class="text">{{message.text}}</div>
			</div>
		</li>
    </ul>
</div>
<div class="modal-footer">
	<div class="editor">
		<textarea class="input" ng-model='text'></textarea>
		<button type="submit" class="btn btn-info submit" ng-click='send()'>发送</button>
	</div>
</div>