<%- include base/header %>
<%= user.nickname %>
<a onclick='test_create_room()'>测试创建房间</a>
<a onclick='test_join_room()'>测试加入房间</a>
<a onclick='test_list_room()'>测试房间列表</a>
<a onclick='test_send_message()'>测试发消息</a>
<a onclick='test_list_message()'>测试消息列表</a>
<a onclick='test_subscribe_room()'>测试订阅房间</a>
<%- include base/footer %>