<!DOCTYPE html>
<html>
<head>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="lib/angular-socket.js"></script>
	<script src="js/common.js"></script>
</head>
<body ng-app='u77club'>
	<div ng-controller='dialogTestCtrl'>
		<button ng-click='joinRoom()'></button>
		<ul>
			<li ng-repeat='msg in messages'>
				<span class="sender" ng-bind='msg.sender.nickname'></span>:
				<span class="content" ng-bind='msg.content'></span>
			</li>
		</ul>
	</div>
</body>
</html>