<div class="dropdown">
	<a class="toggle" data-toggle='dropdown' ui-sref='main'>
		<img class='avatar' ng-src='http://img.u77.com/avatar/{{user.avatar}}!avatar'>
		<span class="nickname" ng-bind='user.nickname'></span>
		<i class="fa fa-home"></i>
	</a>
</div>
<div class="status">
	<span class="disconnect"><i class="fa fa-plug"></i>离线</span>
	<span class="connect"><i class="fa fa-refresh"></i>在线</span>
</div>
<div class="tabs-wrap">
	<ul class="tabs-menu"  ng-class="{'menu':'active'}[tab]">
		<li class="tab menu" ng-class="{true:'active'}[currentRoomId != undefined]">
			<a  ng-click="tab='room'">
				<span class="title">房间</span>
	            <span class="alert">
	                <span class="mentions"></span>
	                <span class="total" ng-bind="roomUnreadMessage" ng-show="roomUnreadMessage != 0 && roomUnreadmessage != 'NaN'"></span>
	            </span>
			</a>
		</li>
		<li class="tab menu">
			<a  ng-click="tab='friend'" ng-class="{true:'active'}[currentFriendId != undefined]">
				<span class="title">消息</span>
	            <span class="alert">
	                <span class="mentions"></span>
	                <span class="total" ng-bind="messageCount" ng-show="messageCount != 0 && messageCount != 'NaN'"></span>
	            </span>
			</a>
		</li>
		<li class="tab menu">
			<a >
				<span class="title">设置</span>
			</a>
		</li>
	</ul>
	<ul class="tabs-room" ng-class="{'room':'active'}[tab]">
		<li class="tab back">
			<a ng-click="tab='menu'"><i class="fa fa-chevron-left"></i></a>
		</li>
		<li class="tab home" ui-sref='main.rooms' ng-class="{true:'active'}[!$stateParams.roomId]">
            <a><i class="fa fa-th"></i></a>
        </li>
        <li class='tab room' ng-repeat='room in rooms' ui-sref-active='active'>
        	<a ui-sref='main.room({roomId:room._id})'>
	            <span class="title" ng-bind='room.name'></span>
	            <span class="alert" ng-show="current != room._id">
	                <span class="mentions"></span>
	                <span class="total" ng-bind="room.messageRemind" ng-show="room.messageRemind != 0"></span>
	            </span>
	            <span class="close">×</span>
	        </a>
        </li>
	</ul>
	<ul class="tabs-friend" ng-class="{'friend':'active'}[tab]">
		<li class="tab back">
			<a ng-click="tab='menu'"><i class="fa fa-chevron-left"></i></a>
		</li>
		<li class="tab friend" ng-repeat="_record in record">
			<a ng-click="openPrivateMessage(_record.user._id)">
				<span class="title" ng-bind="_record.user.nickname">Vcing</span>
	            <span class="alert">
	                <span class="mentions"></span>
	                <span class="total" ng-bind="_record.count" ng-show="_record.count != 0"></span>
	            </span>
	            <span class="close">×</span>
			</a>
		</li>
	</ul>
</div>