<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script type="text/javascript" src='/public/js/jquery.min.js'></script>
	<script type="text/javascript" src='/public/js/bootstrap.min.js'></script>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/css/style.css?v=0">
	<script type="text/javascript" src='/public/js/common.js?v=0'></script>
</head>
<body>
