<div class="room" ng-class="{true:'sidebar-open'}[roomSidebarToggle]">
	<div class="chat">
		<div class="header">		
			<div class="meta">
				<h2 class="heading">
					<span class="name">{{room.name}}</span>

				</h2>
				<div class="description">{{room.description}}</div>
			</div>
			<div class="actions">
				<a class="sidebar-toggle" ng-click='roomSidebarToggle=!roomSidebarToggle'>
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
		</div>
		<ul class="messages" mlsh>
			<li class="message {{message.class}}" ng-repeat='message in messageList'>
				<img class='avatar' ng-src="http://img.u77.com/avatar/{{message.sender.avatar}}!avatar" ng-click='openPrivateMessage(message.sender._id)'>
				<div class="content">
					<span class='name' ng-click='openPrivateMessage(message.sender._id)'>{{message.sender.nickname}}</span>
					<span class='time'>{{message.date | dateFromNow}}</span>
					<div class="text" ng-bind-html="message.content | html"></div>
				</div>
			</li>
		</ul>
		<div input-area></div>
	</div>
	<div class="sidebar" ng-show="roomSidebarToggle">
		<div class="group users">
			<div class="header">
				<h3>
					<i class="fa fa-users"></i>在线(<span class='online-count' ng-bind='onlineCount'></span>)
				</h3>
			</div>
			<ul class="list">
				<li class="item user" ng-repeat='user in onlineList' ng-click='openPrivateMessage(user._id)'>
			        <img class="avatar" ng-src="http://img.u77.com/avatar/{{user.avatar}}!avatar">
			        <div class="info">
			            <span class="nickname" ng-bind='user.nickname'></span>
			        </div>
			    </li>
			</ul>
		</div>
	</div>
</div>