<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
	<h4 class='modal-title'>发布动态</h4>
</div>
<div class="modal-body">
	<input type='text' class='title form-control' ng-model='title' placeholder='标题'>
	<div class='form-control' contenteditable='true' ng-model='content' style="resize:none;min-height:300px;margin-top:20px;" placeholder='内容'></div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
	<button type="submit" class="btn btn-primary submit" ng-click="submit()" ng-disabled="content == ''" disabled="disabled">确定</button>
</div>