<div class="top">
	<div class='avatar'><img width="50" height="50" ng-src="http://img.u77.com/avatar/{{sender.avatar}}!avatar"></div>
	<div class="detail">
		<div class="author">
			<a class="nickname" ng-bind="sender.nickname"></a>
			<a class="title"></a>
		</div>
		<a class="title" ng-bind="active.title" ui-sref="main.active({activeId:active._id})"></a>
		<div class="content" ng-bind="active.content"></div>
		<span class="time" ng-bind="active.date|dateFromNow"></span>
	</div>
</div>
<div class="bottom">
	<a >收藏</a>
	<a >转发</a>
	<a ng-click="active.showComment=!active.showComment;getComment(active)">评论</a>
	<a >点赞</a>
</div>
<div class="comment" ng-class="{true:'show'}[active.showComment]">
	<div class='input' atwho ng-model="active.comment" contenteditable='true'></div>
	<a class="btn btn-warning submit" ng-click='sendComment(active,active.comment)'>评论</a>
	<ul class="list">
		<li ng-repeat="comment in active.comments">
			<div class="avatar">
				<img width="30" height="30" ng-src="http://img.u77.com/avatar/{{comment.sender.avatar}}!avatar">
			</div>
			<div class="detail">
				<div class="content">
					<span class="author" ng-bind="comment.sender.nickname"></span>：{{comment.content}}
				</div>
				<div class="info">
					<span class='time'>{{comment.date|dateFromNow}}</span>
					<div class="buttons" ng-if="self._id != comment.sender._id">
						<a href="">举报</a>
						<a href="">回复</a>
						<a href="">点赞</a>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>