<div ng-if="!active">
	加载中...
</div>
<div ng-if="active">
	<div class="top">
		<div class='avatar'><img width="50" height="50" ng-src="http://img.u77.com/avatar/{{sender.avatar}}!avatar"></div>
		<div class="detail">
			<div class="author">
				<a class="nickname" ng-bind="sender.nickname"></a>
				<a class="title"></a>
			</div>
			<a ng-if="!active.original" class="title" ng-bind="active.title" ui-sref="main.active({activeId:active._id})"></a>
			<div class="content" ng-bind="active.content"></div>
			<div ng-if="active.original._id" class='repost-content'>
				<a class="title" ng-bind="active.original.title" ui-sref="main.active({activeId:active.original._id})"></a>
				<div ng-if="active.original.sender._id" class="author" ng-bind="active.original.sender.nickname"></div>
				<div class="content" ng-bind="active.original.content"></div>
				<span class="time" ng-bind="active.original.date|dateFromNow"></span>
				<div class="buttons">
					<a ng-click="o_repost()">转发<span ng-bind="active.original.repostCount"></span></a>
					<a ui-sref="main.active({activeId:active.original._id})">评论<span ng-bind="active.original.commentCount"></span></a>
					<a ng-if="!active.original.isSupport" ng-click="o_support()">点赞<span ng-bind="active.original.support" ng-show="active.original.support != 0"></span></a>
					<a ng-if="active.original.isSupport">已赞<span ng-bind="active.original.support" ng-show="active.original.support != 0"></span></a>
				</div>
			</div>
			<span class="time" ng-bind="active.date|dateFromNow"></span>
		</div>
	</div>
	<div class="bottom">
		<a ng-if="!active.isFavorite" ng-click="favorite()">收藏</a>
		<a ng-if="active.isFavorite">已收藏</a>
		<a ng-click="repost()">转发<span ng-bind="active.repostCount"></span></a>
		<a ng-click="active.showComment=!active.showComment;getComment()">评论<span ng-bind="active.commentCount"></span></a>
		<a ng-if="!active.isSupport" ng-click="support()">点赞<span ng-bind="active.support" ng-show="active.support != 0"></span></a>
		<a ng-if="active.isSupport">已赞<span ng-bind="active.support" ng-show="active.support != 0"></span></a>
	</div>
	<div class="comment" ng-class="{true:'show'}[active.showComment]">
		<div class='input' atwho ng-model="active.comment" contenteditable='true'></div>
		<a class="btn btn-warning submit" ng-click='sendComment(active.comment)'>评论</a>
		<ul class="list">
			<li ng-repeat="comment in active.comments">
				<div class="avatar">
					<img width="30" height="30" ng-src="http://img.u77.com/avatar/{{comment.sender.avatar}}!avatar">
				</div>
				<div class="detail">
					<div class="content">
						<span class="author" ng-bind="comment.sender.nickname"></span>：{{comment.content}}
					</div>
					<div class="info">
						<span class='time'>{{comment.date|dateFromNow}}</span>
						<div class="buttons" ng-if="self._id != comment.sender._id">
							<a href="">举报</a>
							<a href="">回复</a>
							<a href="">点赞</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>